.InfosSection{
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 20px;
}


.InfosSection h1{
    font-size:50px;
    line-height: 60px;
    font-weight: 900;
    font-family: var(--the-tenth-title-font-family);
    padding: 20px 0;
    text-transform: capitalize;
}

.InfosSection p{
    font-family: Montserrat, Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 25px;
    text-align: justify;
}

.InfosSection h2{
    font-size:30px;
    line-height: 30px;
    font-weight: 700;
    font-family: var(--the-tenth-title-font-family);
    padding: 20px 0;
}

.InfosSection ul li{
    list-style:circle;
}

@media screen and (max-width: 950px) {
  .InfosSection{
    width: 100%;
    padding: 20px;
  }
  
  .InfosSection h1{
    font-size:40px;
    line-height: 50px;
}

.InfosSection h2{
    font-size:25px;
    line-height: 30px;
    font-weight: 700;
    font-family: var(--the-tenth-title-font-family);
    padding: 20px 0;
}
}