.header{
    width: 100%;
    background-color:  rgba(255, 231, 0, 1);
}

.sectionHeader1{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.divRight{
    display: flex;
}

.country, .menu{
    display: flex;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.Logocountry{
    position: absolute;
    left: -20px;
    top: 15px;
    width: 40px;
    height: 40px;
}

.logo{
    display: flex;
    margin-left: 11px;
    width: 100%;
    max-width: 240px;
}

.sectionHeader2{
    width: 80%;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
    gap: 50px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.itemIcon{
    width: 40px;
    height: 40px;
}

.itemText{
    font: normal normal 700 9px / 12px Montserrat;
    font-size: 10px;
    font-weight: 700;
    margin-top: 5px;
    text-transform: uppercase;
    text-align: center;
}


@media (max-width: 1000px) {
    .sectionHeader2{
        gap: 30px;
    }
}
@media (max-width: 850px) {
  .sectionHeader2 {
    display: flex;
    flex-wrap: nowrap;       
    overflow-x: auto;       
    overflow-y: hidden;
    justify-content: flex-start;
    gap: 25px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 10px 20px;
    width: 90%;
    border-bottom: 3px solid rgb(222, 9, 9);
  }

  

  .item {
    flex: 0 0 auto; 
    min-width: 70px; 
  }
}



@media screen and (max-width: 500px) {
.title{
    font-size:30px;
    line-height: 40px;
}

.sectionHeader1{
    width: 90%;
}

.logo{
    display: flex;
    margin-left: 11px;
    width: 100%;
    max-width: 190px;
}
.Logocountry{
    position: absolute;
    left: -13px;
    top: 15px;
    width: 38px;
    height: 38px;
}
}