.mainSection {
    width: 100%;
    padding: 40px 0;
}

.Container2 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    gap: 30px;
}

.Container2 {
    margin-top: 40px;
}

.Container2 .contentLeft {
    width: 400px;
    height: 350px;
}

.Container2 .contentRight h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.Container2 .contentRight ul {
    padding-left: 10px;
}

.Container2 .contentRight li {
    font-family: Montserrat, Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 25px;
    padding: 10px 0;
    text-align: justify;
    list-style-type: disc;
}

.Container2 .contentRight {
    width: 600px;
    line-height: 1.6;
    border-left: 3px solid #ffd500;
    /* ligne jaune */
    padding-left: 20px;
}

.Container2 .contentLeft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerImg {
    padding: 40px 0;
    width: 1000px;
    height: 400px;
    margin: 0 auto;
}

.mt4 {
    margin-top: 40px !important;
}

@media screen and (max-width: 950px) {
    .mainSection {
        width: 100%;
        padding: 10px 0;
    }


    .Container2 {
        width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        gap: 0px;
    }

    .Container2 .contentLeft {
        width: 100%;
        height: 400px;
    }

    .Container2 .contentLeft img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .Container2 .contentRight {
        width: 100%;
        order: 2;
        border-left: none;
        border-left: 3px solid #ffd500;
        margin-left: 10px;
    }


    .containerImg {
        padding: 40px 0;
        width: 100%;
        height: 230px;
    }

}