@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Source+Serif+4:wght@400;700&display=swap');

:root {
    --bottle-card-kind-font-family: "Montserrat", Helvetica;
    --bottle-card-kind-font-size: 16px;
    --bottle-card-kind-font-style: normal;
    --bottle-card-kind-font-weight: 500;
    --bottle-card-kind-letter-spacing: 0px;
    --bottle-card-kind-line-height: 19px;
    --bottle-card-productor-font-family: "Montserrat", Helvetica;
    --bottle-card-productor-font-size: 15px;
    --bottle-card-productor-font-style: normal;
    --bottle-card-productor-font-weight: 600;
    --bottle-card-productor-letter-spacing: 0px;
    --bottle-card-productor-line-height: 18px;
    --bottle-note-font-family: "Montserrat", Helvetica;
    --bottle-note-font-size: 16px;
    --bottle-note-font-style: normal;
    --bottle-note-font-weight: 700;
    --bottle-note-letter-spacing: 0px;
    --bottle-note-line-height: 19px;
    --bottle-note-sur-100-font-family: "Montserrat", Helvetica;
    --bottle-note-sur-100-font-size: 16px;
    --bottle-note-sur-100-font-style: normal;
    --bottle-note-sur-100-font-weight: 300;
    --bottle-note-sur-100-letter-spacing: 0px;
    --bottle-note-sur-100-line-height: 19px;
    --buton-establishment-label-font-family: "Montserrat", Helvetica;
    --buton-establishment-label-font-size: 13px;
    --buton-establishment-label-font-style: normal;
    --buton-establishment-label-font-weight: 700;
    --buton-establishment-label-letter-spacing: 0px;
    --buton-establishment-label-line-height: 16px;
    --buton-people-label-font-family: "Montserrat", Helvetica;
    --buton-people-label-font-size: 13px;
    --buton-people-label-font-style: normal;
    --buton-people-label-font-weight: 700;
    --buton-people-label-letter-spacing: 0px;
    --buton-people-label-line-height: 16px;
    --button-cathegory-text-font-family: "Montserrat", Helvetica;
    --button-cathegory-text-font-size: 9px;
    --button-cathegory-text-font-style: normal;
    --button-cathegory-text-font-weight: 400;
    --button-cathegory-text-letter-spacing: 0px;
    --button-cathegory-text-line-height: 23px;
    --button-establishment-place-font-family: "Montserrat", Helvetica;
    --button-establishment-place-font-size: 13px;
    --button-establishment-place-font-style: normal;
    --button-establishment-place-font-weight: 500;
    --button-establishment-place-letter-spacing: 0px;
    --button-establishment-place-line-height: 16px;
    --button-label-font-family: "Montserrat", Helvetica;
    --button-label-font-size: 13px;
    --button-label-font-style: normal;
    --button-label-font-weight: 600;
    --button-label-letter-spacing: 0px;
    --button-label-line-height: 16px;
    --button-text-font-family: "Montserrat", Helvetica;
    --button-text-font-size: 13px;
    --button-text-font-style: normal;
    --button-text-font-weight: 700;
    --button-text-letter-spacing: 0px;
    --button-text-line-height: 18px;
    --card-detail-label-font-family: "Montserrat", Helvetica;
    --card-detail-label-font-size: 14px;
    --card-detail-label-font-style: normal;
    --card-detail-label-font-weight: 300;
    --card-detail-label-letter-spacing: 0.014000000432133675px;
    --card-detail-label-line-height: 18px;
    --card-detail-value-caps-font-family: "Montserrat", Helvetica;
    --card-detail-value-caps-font-size: 14px;
    --card-detail-value-caps-font-style: normal;
    --card-detail-value-caps-font-weight: 700;
    --card-detail-value-caps-letter-spacing: 0.014000000432133675px;
    --card-detail-value-caps-line-height: 18px;
    --card-detail-value-font-family: "Montserrat", Helvetica;
    --card-detail-value-font-size: 14px;
    --card-detail-value-font-style: normal;
    --card-detail-value-font-weight: 700;
    --card-detail-value-letter-spacing: 0.014000000432133675px;
    --card-detail-value-line-height: 18px;
    --card-detail-vertical-12-font-family: "Montserrat", Helvetica;
    --card-detail-vertical-12-font-size: 12px;
    --card-detail-vertical-12-font-style: normal;
    --card-detail-vertical-12-font-weight: 500;
    --card-detail-vertical-12-letter-spacing: 0.014000000432133675px;
    --card-detail-vertical-12-line-height: 16px;
    --card-detail-vertical-value-12-font-family: "Montserrat", Helvetica;
    --card-detail-vertical-value-12-font-size: 12px;
    --card-detail-vertical-value-12-font-style: normal;
    --card-detail-vertical-value-12-font-weight: 700;
    --card-detail-vertical-value-12-letter-spacing: 0.014000000432133675px;
    --card-detail-vertical-value-12-line-height: 16px;
    --card-horizontal-button-font-font-family: "Montserrat", Helvetica;
    --card-horizontal-button-font-font-size: 17px;
    --card-horizontal-button-font-font-style: normal;
    --card-horizontal-button-font-font-weight: 600;
    --card-horizontal-button-font-letter-spacing: 0px;
    --card-horizontal-button-font-line-height: 20px;
    --card-horizontal-title-font-family: "Source Serif 4", Helvetica;
    --card-horizontal-title-font-size: 36px;
    --card-horizontal-title-font-style: normal;
    --card-horizontal-title-font-weight: 900;
    --card-horizontal-title-letter-spacing: 0px;
    --card-horizontal-title-line-height: 42px;
    --card-restaurant-opened-font-family: "Montserrat", Helvetica;
    --card-restaurant-opened-font-size: 10px;
    --card-restaurant-opened-font-style: normal;
    --card-restaurant-opened-font-weight: 700;
    --card-restaurant-opened-letter-spacing: 0px;
    --card-restaurant-opened-line-height: normal;
    --card-title-font-family: "Source Serif 4", Helvetica;
    --card-title-font-size: 24px;
    --card-title-font-style: normal;
    --card-title-font-weight: 900;
    --card-title-letter-spacing: 0px;
    --card-title-line-height: 28px;
    --filter-count-font-family: "Montserrat", Helvetica;
    --filter-count-font-size: 12px;
    --filter-count-font-style: normal;
    --filter-count-font-weight: 400;
    --filter-count-letter-spacing: 0px;
    --filter-count-line-height: 13px;
    --filter-count-value-font-family: "Montserrat", Helvetica;
    --filter-count-value-font-size: 12px;
    --filter-count-value-font-style: normal;
    --filter-count-value-font-weight: 300;
    --filter-count-value-letter-spacing: 0px;
    --filter-count-value-line-height: 13px;
    --filter-label-active-font-family: "Montserrat", Helvetica;
    --filter-label-active-font-size: 12px;
    --filter-label-active-font-style: normal;
    --filter-label-active-font-weight: 700;
    --filter-label-active-letter-spacing: 0px;
    --filter-label-active-line-height: 13px;
    --filter-search-mode-text-font-family: "Montserrat", Helvetica;
    --filter-search-mode-text-font-size: 11px;
    --filter-search-mode-text-font-style: normal;
    --filter-search-mode-text-font-weight: 700;
    --filter-search-mode-text-letter-spacing: 0px;
    --filter-search-mode-text-line-height: 13px;
    --filter-sort-button-title-font-family: "Montserrat", Helvetica;
    --filter-sort-button-title-font-size: 10px;
    --filter-sort-button-title-font-style: normal;
    --filter-sort-button-title-font-weight: 300;
    --filter-sort-button-title-letter-spacing: 0px;
    --filter-sort-button-title-line-height: 12px;
    --filter-title-font-family: "Montserrat", Helvetica;
    --filter-title-font-size: 14px;
    --filter-title-font-style: normal;
    --filter-title-font-weight: 700;
    --filter-title-letter-spacing: 0px;
    --filter-title-line-height: 13px;
    --filters-clear-font-family: "Montserrat", Helvetica;
    --filters-clear-font-size: 10px;
    --filters-clear-font-style: normal;
    --filters-clear-font-weight: 500;
    --filters-clear-letter-spacing: 0px;
    --filters-clear-line-height: 13px;
    --footer-links-font-family: "Montserrat", Helvetica;
    --footer-links-font-size: 13px;
    --footer-links-font-style: normal;
    --footer-links-font-weight: 400;
    --footer-links-letter-spacing: 0px;
    --footer-links-line-height: 18px;
    --footer-tiltes-font-family: "Montserrat", Helvetica;
    --footer-tiltes-font-size: 13px;
    --footer-tiltes-font-style: normal;
    --footer-tiltes-font-weight: 600;
    --footer-tiltes-letter-spacing: 2.5999999046325684px;
    --footer-tiltes-line-height: 18px;
    --GMI-sponsored-bgColor: #e6f7ff;
    --GMI-artisancontentcolor: rgba(213, 105, 19, 1);
    --GMI-black: rgba(0, 0, 0, 1);
    --GMI-borderradius: 8px;
    --GMI-bordersize: 1px;  
    --GMI-bottlecolororange: rgba(245, 131, 49, 1);
    --GMI-bottlewinecolorpink: rgba(255, 172, 172, 1);
    --GMI-bottlewinecolorred: rgba(176, 51, 79, 1);
    --GMI-bottlewinecolorwhite: rgba(251, 255, 159, 1);
    --GMI-bottlewinewhite: rgba(251, 255, 159, 1);
    --GMI-buttonbordercolor: rgba(181, 181, 181, 1);
    --GMI-buttonborderradius: var(--GMI-borderradius);
    --GMI-cardborder: var(--GMI-cardbordercolor);
    --GMI-cardbordercolor: rgba(209, 209, 209, 1);
    --GMI-carddefaultbackground: rgba(255, 255, 255, 1);
    --GMI-carddetailhorizontalpaddingh: 5px;
    --GMI-cardimageratio: 66.66000366210938px;
    --GMI-cardradius: 0px;
    --GMI-champagnecontentcolor: rgba(13, 106, 85, 1);
    --GMI-circleoutsideborder: rgba(181, 181, 181, 1);
    --GMI-color: var(--GMI-bottlewinecolorpink);
    --GMI-defaultcardheight: 480px;
    --GMI-defaultcardwidth: 300px;
    --GMI-filterbackgroundcolor: rgba(248, 248, 248, 1);
    --GMI-filterbordercolor: rgba(209, 209, 209, 1);
    --GMI-filtersearchradius: 10px;
    --GMI-filtersearchtitledisabled: rgba(181, 181, 181, 1);
    --GMI-filtersearchtitleenabled: var(--GMI-black);
    --GMI-fiterbackgroundcolor: rgba(248, 248, 248, 1);
    --GMI-gmred: rgba(221, 10, 0, 1);
    --GMI-hotelcontentcolor: rgba(53, 74, 153, 1);
    --GMI-newscontentcolor: rgba(246, 165, 20, 1);
    --GMI-newsheadingtheme: rgba(123, 123, 123, 1);
    --GMI-outlinedyellow: rgba(255, 231, 0, 1);
    --yellowGM : rgba(255, 231, 0, 1);
    --GMI-overlayradius: 8px;
    --GMI-pagecolor: rgba(255, 255, 255, 1);
    --GMI-pagecontenthorizontalpadding: 5px;
    --GMI-pagecontentwidth: 990px;
    --GMI-partnersbackgroundcolor: rgba(254, 252, 229, 1);
    --GMI-partnersbordercolor: rgba(215, 202, 50, 1);
    --GMI-peoplecontentcolor: rgba(116, 23, 80, 1);
    --GMI-recipecontentcolor: rgba(225, 35, 115, 1);
    --GMI-restaurantcontentcolor: rgba(204, 29, 31, 1);
    --GMI-spiritcolor: rgba(0, 137, 164, 1);
    --GMI-spiritscontentcolor: rgba(0, 137, 164, 1);
    --GMI-stickerheight: 30px;
    --GMI-stickerradius: 12px;
    --GMI-theplacecardheight: 520px;
    --GMI-toquegoldcolor: rgba(215, 169, 73, 1);
    --GMI-tourvideoradius: 20px;
    --GMI-utensilcontentcolor: rgba(231, 108, 165, 1);
    --GMI-winecontentcolor: rgba(46, 176, 145, 1);
    --GMI-winerycontentcolor: rgba(8, 153, 122, 1);
    --hotel-note-text-font-family: "Montserrat", Helvetica;
    --hotel-note-text-font-size: 12px;
    --hotel-note-text-font-style: normal;
    --hotel-note-text-font-weight: 500;
    --hotel-note-text-letter-spacing: 0px;
    --hotel-note-text-line-height: 14px;
    --menu-barre-selected-section-font-family: "Montserrat", Helvetica;
    --menu-barre-selected-section-font-size: 11px;
    --menu-barre-selected-section-font-style: normal;
    --menu-barre-selected-section-font-weight: 400;
    --menu-barre-selected-section-letter-spacing: 0px;
    --menu-barre-selected-section-line-height: 20px;
    --news-1-title-font-family: "Source Serif 4", Helvetica;
    --news-1-title-font-size: 27px;
    --news-1-title-font-style: normal;
    --news-1-title-font-weight: 900;
    --news-1-title-letter-spacing: 0px;
    --news-1-title-line-height: 30px;
    --news-card-text-font-family: "Montserrat", Helvetica;
    --news-card-text-font-size: 14px;
    --news-card-text-font-style: normal;
    --news-card-text-font-weight: 500;
    --news-card-text-letter-spacing: 0px;
    --news-card-text-line-height: 18px;
    --news-categories-yellow-font-family: "Montserrat", Helvetica;
    --news-categories-yellow-font-size: 12px;
    --news-categories-yellow-font-style: normal;
    --news-categories-yellow-font-weight: 600;
    --news-categories-yellow-letter-spacing: 0px;
    --news-categories-yellow-line-height: 23px;
    --news-header-button-text-font-family: "Montserrat", Helvetica;
    --news-header-button-text-font-size: 12px;
    --news-header-button-text-font-style: normal;
    --news-header-button-text-font-weight: 700;
    --news-header-button-text-letter-spacing: 0.23999999463558197px;
    --news-header-button-text-line-height: 15px;
    --news-header-title-font-family: "Montserrat", Helvetica;
    --news-header-title-font-size: 12px;
    --news-header-title-font-style: normal;
    --news-header-title-font-weight: 600;
    --news-header-title-letter-spacing: 0px;
    --news-header-title-line-height: 15px;
    --news-heading-theme-font-family: "Montserrat", Helvetica;
    --news-heading-theme-font-size: 12px;
    --news-heading-theme-font-style: normal;
    --news-heading-theme-font-weight: 500;
    --news-heading-theme-letter-spacing: 0px;
    --news-heading-theme-line-height: 23px;
    --news-heding-title-font-family: "Source Serif 4", Helvetica;
    --news-heding-title-font-size: 27px;
    --news-heding-title-font-style: normal;
    --news-heding-title-font-weight: 900;
    --news-heding-title-letter-spacing: 0px;
    --news-heding-title-line-height: 30px;
    --news-most-read-title-font-family: "Source Serif 4", Helvetica;
    --news-most-read-title-font-size: 27px;
    --news-most-read-title-font-style: normal;
    --news-most-read-title-font-weight: 900;
    --news-most-read-title-letter-spacing: 0px;
    --news-most-read-title-line-height: 30px;
    --notation-legend-font-family: "Montserrat", Helvetica;
    --notation-legend-font-size: 12px;
    --notation-legend-font-style: normal;
    --notation-legend-font-weight: 500;
    --notation-legend-letter-spacing: 0px;
    --notation-legend-line-height: 14px;
    --note-20-font-family: "Montserrat", Helvetica;
    --note-20-font-size: 14px;
    --note-20-font-style: normal;
    --note-20-font-weight: 500;
    --note-20-letter-spacing: 0px;
    --note-20-line-height: 13px;
    --note-bold-font-family: "Montserrat", Helvetica;
    --note-bold-font-size: 14px;
    --note-bold-font-style: normal;
    --note-bold-font-weight: 700;
    --note-bold-letter-spacing: 0px;
    --note-bold-line-height: 13px;
    --page-detail-avis-GM-title-font-family: "Montserrat", Helvetica;
    --page-detail-avis-GM-title-font-size: 14px;
    --page-detail-avis-GM-title-font-style: normal;
    --page-detail-avis-GM-title-font-weight: 700;
    --page-detail-avis-GM-title-letter-spacing: 0px;
    --page-detail-avis-GM-title-line-height: 17px;
    --page-detail-main-title-font-family: "Montserrat", Helvetica;
    --page-detail-main-title-font-size: 20px;
    --page-detail-main-title-font-style: normal;
    --page-detail-main-title-font-weight: 500;
    --page-detail-main-title-letter-spacing: 0.014999999664723873px;
    --page-detail-main-title-line-height: 24px;
    --page-detail-sub-title-font-family: "Source Serif 4", Helvetica;
    --page-detail-sub-title-font-size: 40px;
    --page-detail-sub-title-font-style: normal;
    --page-detail-sub-title-font-weight: 900;
    --page-detail-sub-title-letter-spacing: 0px;
    --page-detail-sub-title-line-height: 40px;
    --page-detail-title-font-family: "Source Serif 4", Helvetica;
    --page-detail-title-font-size: 40px;
    --page-detail-title-font-style: normal;
    --page-detail-title-font-weight: 900;
    --page-detail-title-letter-spacing: 0px;
    --page-detail-title-line-height: 63px;
    --page-detail-vertical-label-16-font-family: "Montserrat", Helvetica;
    --page-detail-vertical-label-16-font-size: 16px;
    --page-detail-vertical-label-16-font-style: normal;
    --page-detail-vertical-label-16-font-weight: 400;
    --page-detail-vertical-label-16-letter-spacing: 0px;
    --page-detail-vertical-label-16-line-height: 20px;
    --page-detail-vertical-value-16-font-family: "Montserrat", Helvetica;
    --page-detail-vertical-value-16-font-size: 16px;
    --page-detail-vertical-value-16-font-style: normal;
    --page-detail-vertical-value-16-font-weight: 700;
    --page-detail-vertical-value-16-letter-spacing: 0px;
    --page-detail-vertical-value-16-line-height: 20px;
    --page-number-text-font-family: "Montserrat", Helvetica;
    --page-number-text-font-size: 13px;
    --page-number-text-font-style: normal;
    --page-number-text-font-weight: 700;
    --page-number-text-letter-spacing: 0.013000000268220901px;
    --page-number-text-line-height: 20px;
    --partner-card-title-font-family: "Source Serif 4", Helvetica;
    --partner-card-title-font-size: 41px;
    --partner-card-title-font-style: normal;
    --partner-card-title-font-weight: 900;
    --partner-card-title-letter-spacing: 0px;
    --partner-card-title-line-height: 38px;
    --partners-main-title-font-family: "Source Serif 4", Helvetica;
    --partners-main-title-font-size: 46px;
    --partners-main-title-font-style: normal;
    --partners-main-title-font-weight: 900;
    --partners-main-title-letter-spacing: 0px;
    --partners-main-title-line-height: 43px;
    --partners-text-font-family: "Montserrat", Helvetica;
    --partners-text-font-size: 11px;
    --partners-text-font-style: normal;
    --partners-text-font-weight: 600;
    --partners-text-letter-spacing: 0px;
    --partners-text-line-height: 14px;
    --people-role-title-font-family: "Montserrat", Helvetica;
    --people-role-title-font-size: 14px;
    --people-role-title-font-style: normal;
    --people-role-title-font-weight: 400;
    --people-role-title-letter-spacing: 0px;
    --people-role-title-line-height: 17px;
    --product-header-description-font-family: "Montserrat", Helvetica;
    --product-header-description-font-size: 12px;
    --product-header-description-font-style: normal;
    --product-header-description-font-weight: 300;
    --product-header-description-letter-spacing: 0px;
    --product-header-description-line-height: 15px;
    --product-main-title-font-family: "Source Serif 4", Helvetica;
    --product-main-title-font-size: 34px;
    --product-main-title-font-style: normal;
    --product-main-title-font-weight: 900;
    --product-main-title-letter-spacing: 0px;
    --product-main-title-line-height: 45px;
    --product-place-header-font-family: "Montserrat", Helvetica;
    --product-place-header-font-size: 15px;
    --product-place-header-font-style: normal;
    --product-place-header-font-weight: 600;
    --product-place-header-letter-spacing: 0px;
    --product-place-header-line-height: 18px;
    --product-selection-font-family: "Montserrat", Helvetica;
    --product-selection-font-size: 13px;
    --product-selection-font-style: normal;
    --product-selection-font-weight: 400;
    --product-selection-letter-spacing: 0px;
    --product-selection-line-height: 17px;
    --recipe-synopsis-font-family: "Montserrat", Helvetica;
    --recipe-synopsis-font-size: 12px;
    --recipe-synopsis-font-style: normal;
    --recipe-synopsis-font-weight: 600;
    --recipe-synopsis-letter-spacing: 0.012000000104308128px;
    --recipe-synopsis-line-height: 17px;
    --search-barre-text-font-family: "Montserrat", Helvetica;
    --search-barre-text-font-size: 14px;
    --search-barre-text-font-style: normal;
    --search-barre-text-font-weight: 600;
    --search-barre-text-letter-spacing: 0px;
    --search-barre-text-line-height: 17px;
    --search-box-font-family: "Montserrat", Helvetica;
    --search-box-font-size: 14px;
    --search-box-font-style: normal;
    --search-box-font-weight: 400;
    --search-box-letter-spacing: 0px;
    --search-box-line-height: 13px;
    --small-card-map-details-font-family: "Montserrat", Helvetica;
    --small-card-map-details-font-size: 14px;
    --small-card-map-details-font-style: normal;
    --small-card-map-details-font-weight: 700;
    --small-card-map-details-letter-spacing: 0px;
    --small-card-map-details-line-height: 18px;
    --small-card-map-title-font-family: "Montserrat", Helvetica;
    --small-card-map-title-font-size: 18px;
    --small-card-map-title-font-style: bold;
    --small-card-map-title-font-weight: 700;
    --small-card-map-title-letter-spacing: 0px;
    --small-card-map-title-line-height: 24px;
    --synopsis-text-font-family: "Montserrat", Helvetica;
    --synopsis-text-font-size: 18px;
    --synopsis-text-font-style: normal;
    --synopsis-text-font-weight: 500;
    --synopsis-text-letter-spacing: 0px;
    --synopsis-text-line-height: 22px;
    --the-tenth-synopsis-font-family: "Montserrat", Helvetica;
    --the-tenth-synopsis-font-size: 16px;
    --the-tenth-synopsis-font-style: normal;
    --the-tenth-synopsis-font-weight: 600;
    --the-tenth-synopsis-letter-spacing: 0px;
    --the-tenth-synopsis-line-height: 18px;
    --the-tenth-title-font-family: "Source Serif 4", Helvetica;
    --the-tenth-title-font-size: 40px;
    --the-tenth-title-font-style: normal;
    --the-tenth-title-font-weight: 900;
    --the-tenth-title-letter-spacing: 0px;
    --the-tenth-title-line-height: 36px;
    --toque-24-text-font-family: "Montserrat", Helvetica;
    --toque-24-text-font-size: 10px;
    --toque-24-text-font-style: normal;
    --toque-24-text-font-weight: 600;
    --toque-24-text-letter-spacing: 0px;
    --toque-24-text-line-height: 23px;
    --tour-video-title-font-family: "Source Serif 4", Helvetica;
    --tour-video-title-font-size: 20px;
    --tour-video-title-font-style: normal;
    --tour-video-title-font-weight: 900;
    --tour-video-title-letter-spacing: 0px;
    --tour-video-title-line-height: 24px;
    --vertical-text-menu-barre-font-family: "Montserrat", Helvetica;
    --vertical-text-menu-barre-font-size: 8px;
    --vertical-text-menu-barre-font-style: normal;
    --vertical-text-menu-barre-font-weight: 600;
    --vertical-text-menu-barre-letter-spacing: 0px;
    --vertical-text-menu-barre-line-height: 13px;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
}

.responsive-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover; /* garde le cadrage propre */
}
